body {
	margin: 0;
	padding: 0;
}
/*main class for footer design*/
footer{
	position: fixed;
	bottom: 0;
	

}
.footer-distributed{

	 background-color: #123456;
	font-family: SctoGroteskA;
	width: 100%;
	text-align: left;
	padding: 55px 0px 55px 150px;
	margin-top: 80px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.footer-distributed .Products h6,
.footer-distributed .cases h6
{
	font-size: 16px;
	font-weight: bold;
	
	
}
.Products .ul-list,
.cases .ul-list
{
	
  font-size: 12px;

 
  line-height: 1.57;
  

  list-style-type: none;
   padding-left: 0px;
}

.Products .ul-list li
.cases .ul-list li

{
 
  font-size: 14px;
  
  line-height: 1.57;


}

.FollowUs
{
	padding-left:20%;
}
.FollowUs h3
{
	
	font-size: 16px;
	font-weight: bold;
}
.footer-copyright
{
	text-align: center;
	
	font-size: 12px;
  	padding-left: 35%;
  	margin-top: 30px;
}

.wrapper
{
	display: inline-block;
	display: grid;
}

@media (max-width :992px)
{
	.image
	{
		padding-bottom:20px;
	}
	.footer-distributed
	{
		padding: 55px 0px 55px 50px;
		margin-top: 80px;
	}
	.footer-copyright 
	{
		padding-left: 35%;
	}
}

@media (max-width :768px)
{
	.footer-copyright 
	{
		padding-left: 2%;
	}
}
	@media (max-width :576px)
	{
		.footer-copyright 
		{
			padding-left: 3%;
		}

		@media (max-width :370px)
		{
			.footer-copyright 
			{
				padding-left: 5%;
			}
	}


}