html ,body
{
	height :100%;
	width:  :100%;
  font-family: TaraSans-BETA;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
}

.padding
{
    padding-left: 10%;
  }
.Oval {
  width: 132px;
  height: 132px;
  margin: 0 41px 223px 0;
  border: solid 1px #f7f7fa;
}

.breadcrumb {
  margin-left:5%;
}

.breadcrumb .breadcrumb-item {
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
   color: #25262f;
  padding:10px;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: none;
    font-weight: normal;
    color: #25262f;
  }

.breadcrumb-item.active {
   color: #25262f;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color:#b2f7e2;
}

a
{
  color: #25262f;
  font-weight: normal;
}

a:hover
{
   color: #25262f;
  text-decoration: none;
}

.name,.profile,.apikey
{
  font-size: 24px;
  font-weight: bold;
  color: #25262f;
}
.title
{
	font-size: 14px;
  font-weight: bold;
  color: #889aac;
}
.discription
{
	font-size: 18px;
 line-height: 1.33;
 color: #123456;
}

.domain,.contact,.address
{
  padding-bottom:20px;
}

.secondimage
 {
    right: 92%;
    position: absolute;
    top: 35%;
}

@media (min-width: 1600px)
{
.secondimage {
    right: 94%;
    top: 50%;
}
}
@media (max-width:1400px)
{
  .secondimage {
       right: 92%;
       top: 35%;
  }
}

@media (max-width:1200px)
{
  .about
    {
      padding-left:5%;
    }
  .secondimage {
       right: 90%;
    }
}

@media (max-width:992px)
{
  .padding {
    padding-left: 5%;
  }
   .breadcrumb {
      margin-left:2%;
    }
  .secondimage {
    right: 89%;
    top: 38%;
    }
}

@media (max-width:768px)
{

  .padding {
    padding-left: 5%;
  }
  .breadcrumb {
      margin-left:5%;
    }

  .secondimage {
       top: 40%;
    right: 87%;
   }
}

 @media (max-width :576px)
 {
    .breadcrumb {
      margin-left:10%;
    }
    .padding {
      padding-left: 13%;
    }
    .usecaseleftimg
    {
      width: 17vw;
      height:50vh;
    }
    .secondimage
    {
      right: 89%;
      top: 55%;
    }
    .about
    {
      padding-top:5%;
      padding-left:0%;
    }
}
 @media (max-width :445px)
 {
  .breadcrumb {
    margin-left:8%;
  }
  .secondimage
    {
      top: 55%;
    }
}
  @media (max-width :360px)
 {
  .breadcrumb {
    margin-left:8%;
  }
  .usecaseleftimg
    {
      width: 17vw;
      height:60vh;
    }

.secondimage
    {
      top: 55%;
    }

}