


html ,body
{
	height :100%;
	width:  :100%;
	font-family: TaraSans-BETA;
}


/*-------------------------Header-----------------------------*/

.image
{
	position:absolute;
	margin-left: 83%;
}
.header
{
	
	width:100%;
}

.startuptext
{
	padding-top: 6%;
}

.navbar
{
	padding:16px;
}

.navbar .navbar-nav 
{
margin-left: 17%;
margin-right:13%;

}

.navbar .navbar-brand
{
	margin-left:5%;
}

 .navbar .nav-item .nav-link
 {

  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #123456;
  padding:25px;
}

/*---------------------DropDown-------------------------*/

.dropdown-menu
{
	border:none;
}

.basiccontent
		{
			 width: 556px;
 			 height: 251px;
			background-color: white;
			border-radius: 5px;
			margin: 0 auto;
			padding: 30px;
			font-size: 14px;
			 color: #123456;
			text-align: center;
			  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, 0.1);
		}
	
	.basiccontent:before
	{
		content: '';
		width: 0px;
		height: 0px;
		border-top:10px solid transparent;
		border-right:10px solid transparent;
		border-bottom:10px solid white;
		border-left:10px solid transparent ;
		position: absolute;
		bottom: 97%;
    right: 92%;


	}

	.inside
	{
		padding-bottom: 10px;
	}

.title
{

    padding-right: 32%;
  height: 24px;
     margin-bottom: 0px;
  font-family: TaraSans-BETA;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #123456;
      margin-left: 17px;
}

.discription
{

width: 144px;
  height: 20px;
  margin: 0px 0px 10px 15px;
  font-family: TaraSans-BETA;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #697683;
}

.Oval {
  width: 48px;
  height: 48px;
  margin: 0 16px 0 0;
  background-color: #b0b4c1;
  border-radius: 50%;
}
.menubar
{
	display: contents;
	list-style: none;

}

.padding
{
	    margin-top: 3%;
	    
}

.padding .heading
{ 
	margin-top: 6%;
	padding-right: 110px;
}

.padding .heading .headingtext
{
	font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.5px;
  color: #123456;
 
}

.padding .heading .api
{
	 font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #123456;


}

.padding .heading .btn
{
	  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #123456;
   border-radius: 6px;
  background-color: #b2f7e2;
  border:none;
  padding: 13px 36px 14px 38px;

}

.apikey
{
	font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #123456;
  border-radius: 6px;
  border: solid 1px #b8bfdc;
  margin-right: 20px;
}

.signup
{
	    margin-left: 30px;
	    font-size: 16px;
 	font-weight: bold;
 	font-stretch: normal;
 	font-style: normal;
 	line-height: 1.57;
 	letter-spacing: normal;
 	text-align: center;
 	color: #123456;

}


.box
{
	width:600px;
	height:400px;
	padding:;
}

.padding
{
	 margin-top: 3%;
    margin-right: 15%;
    margin-left: 4%;
}

/*------------------Twocolumn section-----------------------*/
.two-column
{
	margin-left: 4%;
}
.two-column .heading
{ 
	margin-top: 7%;
}

.two-column .heading .h2
{
	font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.5px;
  color: #123456;
      margin-right: 250px;

}

.two-column .heading .api
{
	 font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #123456;


}

.two-column .heading .btn
{
	  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #123456;
   border-radius: 6px;
  background-color: #b2f7e2;
  border:none;
  padding: 13px 36px 14px 38px;

}

/*---------------------AddBackgroundImage-------------------------*/


.menubaritem
{
	position:absolute;
	margin-left:70%;
}

#parent
{
	position: relative;
	    margin-top: 100px;
}


.leftimage
{
	position:absolute;
	left: 89%;
	top: 3%;
}
.cardtext
{
	position:absolute;
	      top: 40px;

}

#benefitsparent
{
	position: relative;

}

.indepaytext
{
	position:absolute;
	margin-left: 41%;
    padding-top: 15px;
    font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #123456;

}
.childusing
{
	position:absolute;
}
.benefitscard
{

padding-top: 210px;
padding-left: 10%;
    padding-right: 11%;
}
.benefitimage
{
	position: absolute;
	   
    left: 83%;
}

.benefitstext
{
	position:absolute;
	margin-left: 45%;
    top: 20%;
}

#usingparent
{
	position: relative;
	      bottom: 13%;
}
.mainimage
{
	position: relative;
	left: 84%;
}
.usingchild
{
	position:absolute;
	top: 33%;
}

.usingindepay
{
	margin-top: 3%;
    margin-right: 12%;
    margin-left: 4%;
}

#parentindepay
{
	position: relative;
}

.parentimage
{
	position:absolute;
}

.secondimage
{
	position: absolute;
}

/*-------------------ClientServiceLOGO----------------------------*/
.services
{
	border-radius: 16px;
  background-color: #123456;
 
     margin-left: 140px;
  

}

.servicelogo
{
	margin-top: 52px;
	    margin-left: 150px;
	    margin-bottom: 50px;
}
.imglogo
{
	padding: 0 30px;
}

.servicestext .text
{
	font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
        margin-top: 48px;
      
}


/*-------------------------Benefits card---------------------------------------------------*/




 .usingindpay
 {
 	font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #123456;
 }

/*-------------------------BenefitButton-------------------------------*/

 .Benefits
 {
 	    margin-top: 4%;
 	margin-left: 48%;
 	 border: none;
  background-color: #b2f7e2;
   opacity: 0.8;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1.71px;
  color: #123456;
  position:absolute;

 }

.indepaytext h3
{
	    padding-top: 25px;
    font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #123456;
  margin-top: 70px;
}

/*---------------Using indepay card-----------------------------------*/

 .card
 {
 	border-radius: 25px;
 }

 .card .card-title
 {
 	text-align:center;
 	font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #123456;
 }

 .card .card-text
 {
 	 font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #123456;
 }/*
-------------------------lastcard--------------------------------*/

	.lastcard
{
	border-radius: 24px;
 	background-image: url("E:/indepay/MobileResponsive/image/element.png") ,
 	url("E:/indepay/MobileResponsive/image/element-4.png"),url("E:/indepay/MobileResponsive/image/leftelement.png");
 	
 	background-repeat: no-repeat,no-repeat,no-repeat;

 	background-position: right ,left top,left bottom;
  	background-color: #b2f7e2;
  	    margin-top: 50px;
  	        margin: 2% 8%;
  	}



.started
{
	   
	    font-size:0px;
	    font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #123456;
}
.started h1 {
       margin-top: 65px;
        margin-bottom: 15px;
    font-size: 48px;
    font-weight: bold;
	}
	.started h4 {
   
       
    font-size: 18px;
    margin-bottom: 18px;

  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: rgba(18, 52, 86, 0.7);
	}
	
	.started .GetAPI {
		margin-bottom: 6%;
    margin-right: 2%;
		    margin-top: 20px;
   
    border-radius: 6px;
    background-color: #123456;
        padding: 13px 20px 14px 19px;
    font-size: 18px;
    background-color: #123456;
    color: #ffffff;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
        padding: 13px 20px 14px 19px;
    font-size: 18px;
    

}
}
/*--------------------------1650px-----------------------------------------------------*/

/*Media Queries*/

@media (max-width : 1650px)
{
.padding .heading .h2
{
	    font-size: 42px;
	    margin-right:60px;
}


/*
***************************Services******************************/
.services
{
	border-radius: 16px;
  background-color: #123456;
 margin-right:8%;
     margin-left: 140px;


}
.services{
    margin-left: 10%;
}

.rightsideimage {
    width: 18vw;
}
.leftsideimage
{
	    left: 88%;
    top: 3%;
}
.services {
  
    margin:0;
    margin-left: 14%;
        margin-right: 8%;
}
.servicestext .text {
  font-size: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: bold;
}
.logoimage {
       width: 16vw;
}
.servicelogo {
       margin-left: 2%;
       margin-bottom: 10%;
}

.leftimage {
    
    position: absolute;
    left: 89%;
    top: 2%;
}
/***********************Last Card****************************************/
.lastcard{
 background-size: 140px,180px,90px;
    margin-left: 65px;
    padding-left: 0px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 65px;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: bold;
	}
	.started h4 {
   
       
    font-size: 18px;
    margin-bottom: 18px;
	}
	
	.started .GetAPI {
		    margin-top: 20px;
   margin-bottom: 0;
    margin-right: 25px;
    border-radius: 6px;
    background-color: #123456;
        padding: 13px 20px 14px 19px;
    font-size: 16px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
        padding: 13px 20px 14px 19px;
    font-size: 16px;
    

}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
   margin-left: 15px;
}
}
/*---------------------1400px-----------------------------------*/

@media (max-width : 1400px)
{
	.navbar-collapse{

    margin-top: 20px;
    margin-left: 100px;
}

.navbar .navbar-nav {
     margin-left: 0px; 
   
}
.navbar .nav-item .nav-link
{

	padding:20px;
}

.padding .heading {
    margin-top: 4%;
   }
.servicelogo {
  
    margin-left: 100px;
   
}
   .imglogo {
    padding: 0 30px;
    }



/*
***************************Services******************************/


.leftsideimage
{
	    left: 88%;
    top: 3%;
}
.services {
  
    margin-left: 10%;
    margin-right: 8%;
    
}
.servicestext .text {
  font-size: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: bold;
}

.

.leftimage {
    
    position: absolute;
    left: 89%;
    top: 2%;
}
/********************Benefitscard************************************************/
#benefitsparent {
    position: relative;
    bottom: 20%;
}


.benefitscard {
      padding-top: 300px;
    padding-right: 10%;
}


.benefitimage {
    position: absolute;
     left: 81%;
    top: 93px;
}

.indepaytext h3 {
    padding-top: 0px;
    margin-top: 100px;
    margin-left: 30px;
}

.indepaytext {
    position: absolute;
    margin-left: 35%;
    padding-top: 105px;
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}


.Benefits {
    
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 175px;
}

.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}



/**********************Last Card************************************/

.lastcard{
 background-size: 140px,180px,90px;
   
    padding-left: 0px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 65px;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: bold;
	}
	.started h4 {
   
       
    font-size: 18px;
    margin-bottom: 18px;
	}
	
	.started .GetAPI {
		    margin-top: 20px;
   margin-bottom: 0;
    margin-right: 25px;
    border-radius: 6px;
    background-color: #123456;
        padding: 13px 20px 14px 19px;
    font-size: 16px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
        padding: 13px 20px 14px 19px;
    font-size: 16px;
    

}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
   margin-left: 15px;
}
}
/*------------------1200px-------------------------------------*/
@media (max-width : 1200px)
{


.navbar .navbar-nav {
   margin-left: 17%;

        margin-right: 10%;
}

.navbar .nav-item .nav-link {
    padding: 10px;
}
.apikey {
    font-size: 14px;
    }
    .servicelogo {
    margin-left: 100px;

    margin-right: 80px;
}

.padding .heading {
    margin-top: 5%;
   }

.padding .heading .h2
{
	    font-size: 40px;
	    margin-right:0px;
}
.padding .heading .btn {
	padding:0;
}

.padding .logo {
    margin: 4% 8%;
}
.padding .heading .api {
    font-size: 16px;
}

.navbar-collapse{

margin-left: 100px;
    margin-top: 20px;
}
.singup{
    margin-left: 20px;
    margin-bottom: 1px;
}
.servicelogo {
    margin-top: 25px;
   margin-left:0px;
    margin-bottom: 65px;
}

/*
***************************Services******************************/
.services{
    margin-left: 10%;
}

.rightsideimage {
    width: 18vw;
}
.leftsideimage
{
	    left: 88%;
    top: 3%;
}
.services {
  
    margin:0;
    margin-left: 16%;
        margin-right: 8%;
}
.servicestext .text {
  font-size: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: bold;
}
.logoimage {
       width: 18vw;
}
.servicelogo {
       margin-left: 2%;
       margin-bottom: 10%;
}

.leftimage {
    
    position: absolute;
    left: 89%;
    top: 2%;
}

/********************Benefitscard************************************************/
#benefitsparent {
    position: relative;
    bottom: 20%;
}


.benefitscard {
           padding-top: 320px;
    padding-left: 16%;
    padding-right: 11%;
}


.benefitimage {
    position: absolute;
    left: 78%;
    top: 93px;
}

 .benefitimage .bimag
{

	    width: 23vw;
}

.indepaytext h3 {
    padding-top: 0px;
    margin-top: 140px;
}

.indepaytext {
    position: absolute;
    margin-left: 35%;
    padding-top: 105px;
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}


.Benefits {
    
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 200px;

}
.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}




/*************************Last card*****************************/
.lastcard{
 background-size: 70px,130px,70px;
    margin-left: 65px;
    padding-left: 0px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 30px;
    margin-bottom: 8px;
    font-size: 45px;
	}
	.started h4 {
   
       margin-right: 45px;
    margin-left: 32px;
    font-size: 16px;
    margin-bottom: 18px;
	}
	
	.started .GetAPI {
   margin-bottom: 0;
    margin-right: 25px;
    border-radius: 6px;
    background-color: #123456;
    padding: 10px;
    font-size: 13px
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #123456;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
   margin-left: 15px;
}
}
/* -----------------992px------------------------------*/
 @media (max-width : 992px)
 {

.navbar-collapse
{
    padding-top: 20px;
    margin-left: 35px;
}

.servicelogo {
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left:0px;
}
.navbar .nav-item .nav-link
{

	font-size: 16px;
	
	padding: 18px 10px;

}

.navbar .navbar-nav {
    margin-left: 5%;
    margin-right: 3%;
        margin-bottom: 23px;
}

.apikey
{
	    font-size: 12px;
    margin-bottom: 25px;
}

	.signup
 	{
 		    margin-left: 8px;
    margin-bottom: 22px;
    font-size: 14px;
 	}

.padding .heading
{
	    margin-top: 4%;
}

.padding .heading .h2
{
	font-size:46px;
	line-height: 1.00;
	letter-spacing: -0.5px;
	margin-right: 200px;

}

.padding .heading .api
{
	 font-size: 20px;
  line-height: 1.00;
}

.logoimage{
	width:17vw;
} 

/*
***************************Services******************************/
.services{
    margin-left: 10%;
}

.rightsideimage {
    width: 20vw;
}
.leftsideimage
{
	    left: 88%;
    top: 3%;
}
.services {
  
    margin:0;
    margin-left: 16%;
        margin-right: 8%;
}
.servicestext .text {
  font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: normal;
}
.logoimage {
       width: 18vw;
}
.servicelogo {
       margin-left: 2%;
       margin-bottom: 10%;
}

.leftimage {
    position: absolute;
       left: 87%;
    top: 5%;
}

/********************Benefitscard************************************************/
#benefitsparent {
    position: relative;
    bottom: 20%;
}


.benefitscard {
        padding-top: 290px;
    padding-left: 16%;
    padding-right: 10%;
}


.benefitimage {
    position: absolute;
    left: 78%;
    top: 93px;
}

 .benefitimage .bimag
{

	    width: 23vw;
}

.indepaytext h3 {
    padding-top: 0px;
    margin-top: 140px;
}

.indepaytext {
    position: absolute;
    margin-left: 32%;
    padding-top: 80px;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}


.Benefits {
    
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 180px;
}
.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}


/*********************Last card*********************************/
.lastcard{
 background-size: 60px 180px ,140px,80px;
   
    padding-left: 5px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 25px;
    margin-bottom: 5px;
   font-size: 38px;
	}
	.started h4 {
   
    margin-right: 45px;
    margin-left: 32px;
    font-size: 14px;
    margin-bottom: 15px;
	}
	
	.started .GetAPI {
     margin-bottom: 0; 
    margin-right: 20px;
    border-radius: 6px;
    background-color: #123456;
    padding: 8px 8px 8px 8px;
    font-size: 12px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 8px 8px 7px 8px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #123456;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
   margin-left: 15px;
}

 }


 /*-------------------------768px---------------------------------------------------*/

 @media (max-width :768px)
 {

 	.navbar-collapse {
 		margin-right: 0;
 		padding-top:0px;
 		margin-left:35px;
 	}

 	.navbar .nav-item .nav-link
 	{
 		font-size: 18px;
 		margin-right: 20px;
 		padding:12px;
 	}

.servicelogo {
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 95px;
}

 	.signup
 	{
 		font-size: 16px;
 	margin-left: 50px;
 		margin-top: 15px;
 	}
 	.padding {
 		margin: 3%;
 		margin-right: 5%;
 	}

 	.padding .heading
{
	    margin-top: 5%;
}
 	.padding .heading .h2
 	{

 		margin-right: 150px;
 		font-size: 40px;
 		line-height: 1.00;
 		letter-spacing: -0.5px;
 	}

 	padding .heading .api
 	{
 		font-size: 22px;
 	}


 	.started h1
 	{
 		margin-top: 10%;
 		font-size: 40px;
 	}
 	.started h4
 	{
 		margin-bottom: 6%;
 		font-size: 15px;
 	}


 	.padding .text
 	{
 		font-size: 26px;
 		margin-top: 20px;

 	}

 	.Benefits
 	{
 		font-size: 12px;
 		font-weight: 500;
 		line-height: 2;
 	}

 	.image
 	{
 		margin:1% 10%;
 	}




/********************Benefitscard************************************************/
#benefitsparent {
    position: relative;
    bottom: 20%;
}


.benefitscard {
       padding-top: 330px;
    padding-left: 25%;
    padding-right: 14%;
}


.benefitimage {
    position: absolute;
    left: 69%;
    top: 93px;
}

 .benefitimage .bimag
{

	width: 34vw;
}

.indepaytext h3 {
    padding-top: 15px;
 
  	margin-top: 160px;
}

.indepaytext {
    position: absolute;
    margin-left: 32%;
    padding-top: 80px;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}


.Benefits {
    
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 200px;
}

.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}
/*
***************************Services******************************/
.services{
    margin-left: 10%;
}

.rightsideimage
{

	    width: 25vw;
}

.leftsideimage
{
	width: 13vw;
}
.services {
  
    margin:0;
    margin-left: 16%;
        margin-right: 8%;
}
.servicestext .text {
   font-size: 22px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: normal;
}
.logoimage {
       width: 18vw;
}
.servicelogo {
        margin-left: 10%;
       margin-bottom: 10%;
}

.leftimage {
    position: absolute;
       left: 87%;
    top: 5%;
}

/**************Last card**************************************/

 	.lastcard{
 background-size:  40px 180px,80px,50px;
    margin-left: 15px;
    padding-left: 5px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 25px;
    margin-bottom: 5px;
   font-size: 35px;
	}
	.started h4 {
   
    margin-right: 50px;
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 10px;
	}
	
	.started .GetAPI {
     margin-bottom: 0; 
    margin-right: 20px;
    border-radius: 6px;
    background-color: #123456;
    padding: 8px 8px 8px 8px;
    font-size: 10px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #123456;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
   margin-left: 15px;
}

/*---------------------------576px-------------------------------------
*/
 @media (max-width :576px)
 {
 
.padding
{
	margin: 15px;

}

 .navbar .navbar-nav 
{

margin-left:10%;
 
}

.navbar-collapse
{
	margin-right: 0;
}

.navbar .nav-item .nav-link
{

	font-size: 16px;
	margin-right: 20px;
	padding:15px;

}

.servicelogo {
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 50px;
}

  .signup
 {

 	
 	text-align: center;
 	
 	margin-top: 20px;
 
 	margin-right:22px;
 	
 }

.padding .heading .h2
{
	font-size:25px;
	line-height: 1.00;
	letter-spacing: -0.5px;
	margin-right: 100px;

}


.padding .logo
{
	margin:0px ;
}



.padding .heading .api
{
	 font-size: 13px;
  line-height: 1.00;
}

.services
{
	border-radius: 13px;
  background-color: #123456;
 margin: 5% 3%

}

.padding .text
{
	font-size: 20px;
 
  line-height: 1.50;
 
  text-align: center;
  
}



 .Benefits
 {
 	
  margin:1% 45%;
  
 
  font-size: 10px;
  font-weight: 500;

  line-height: 2;
  
 }

 .image
 {
 	margin:5% 0;
 }

.started h1
{
	    margin: 5% 15%;
    font-size: 35px;
}
    .started h4
    {
    margin-bottom: 8%;
    font-size: 14px;
   
}

/*******************Services****************************/
.services{
    margin-left: 10%;
}

.rightsideimage
{

	    width: 25vw;
}

.leftsideimage
{
	width: 13vw;
}
.services {
  
    margin:0;
    margin-left: 16%;
        margin-right: 8%;
}
.servicestext .text {
   font-size: 22px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: normal;
}
.logoimage {
       width: 18vw;
}
.servicelogo {
        margin-left: 10%;
       margin-bottom: 10%;
}

.leftimage {
    position: absolute;
       left: 87%;
    top: 5%;
}
/********************Benefits card******************************/


.benefitscard {
   
    padding-top: 230px;
    padding-left: 25%;

}


.benefitimage {
    position: absolute;
      left: 67%;
    top: 85px;
}

 .benefitimage .bimag
{

	    width: 32vw;
}

.indepaytext h3 {
    padding-top: 15px;
    font-size: 18px;
  	margin-top: 160px;
}

.indepaytext {
    position: absolute;
    margin-left: 32%;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}

#benefitsparent {
    position: relative;
    bottom: 15%;
}

.Benefits {
    margin: 1% 45%;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 150px;
}

.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}





/*******************Last card********************************/
.lastcard{
 background-size:  40px 180px ,70px,40px;
margin-left: 15px;
    padding-left: 5px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 25px;
    margin-bottom: 5px;
    font-size: 25px;
	}
	.started h4 {
   
    margin-right: 50px;
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 10px;
	}
	
	.started .GetAPI {
     margin-bottom: 0; 
    
    border-radius: 6px;
    background-color: #123456;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #123456;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}
.abc
{
	    margin-left: 18px;
 }
}



/*-----------------------------445px---------------------------------------------*/
@media (max-width :445px)
{
	.padding .logo
{
	margin:0px ;
}

/**************************Services***************************************/

.rightsideimage
{

	    width: 30vw;
}

.leftsideimage
{
	width: 15vw;
}
.services {
  
    margin:0;
    margin-left: 20%;
}

.servicestext .text {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: normal;
}
.logoimage {
    width: 12vw;
}

.servicelogo {
    margin-left: 2px;
       margin-bottom: 10%;
}

.leftimage {
    position: absolute;
    left: 95%;
    top: 5%;
}


/*************************LastCard*************************************/
.benefitscard {
  
    padding-top: 220px;
    padding-left: 25%;
    padding-right: 12%;

}


.benefitimage {
    position: absolute;
   left: 72%;
    top: 99px;
}

 .benefitimage .bimag
{

	width: 32vw;
}

.indepaytext h3 {
    padding-top: 40px;
    font-size: 15px;
  	margin-top: 140px;
}

.indepaytext {
    position: absolute;
    margin-left: 32%;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}

#benefitsparent {
    position: relative;
    bottom: 15%;
}

.Benefits {
    margin: 1% 45%;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
   margin-top: 160px;
}

.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}
}
/*------------------------420px----------------------------------*/

@media (max-width :420px)
 {
 	.servicelogo
	{

		margin-left: 30px;
  		 margin: 5px 0px;
   
	}

/*******************Benefitcard*****************************************/
.benefitscard {
    padding-top: 210px;
    padding-left: 25%;
    padding-right: 12%;
}


.benefitimage {
    position: absolute;
    left: 75%;
    top: 99px;
}

 .benefitimage .bimag
{

	width: 35vw;
}

.indepaytext h3 {
    padding-top: 15px;
    font-size: 17px;
  	margin-top: 140px;
}

.indepaytext {
    position: absolute;
    margin-left: 32%;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}

#benefitsparent {
    position: relative;
    bottom: 15%;
}

.Benefits {
    margin: 1% 45%;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 130px;
}

.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}

/*-----------------Last card------------------------------------------------------*/
.lastcard{
 background-size:  40px 180px ,70px,40px;
margin-left: 15px;
    padding-left: 5px;
    margin-right: 20px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 25px;
    margin-bottom: 5px;
    font-size: 25px;
	}
	.started h4 {
   
    margin-right: 50px;
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 10px;
	}
	
	.started .GetAPI {
     margin-bottom: 0; 
    
    border-radius: 6px;
    background-color: #123456;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #123456;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
   margin-left: 16px;
}





}





/*-------------------420px-----------------------------*/

 @media (max-width :420px)
 {
 	.servicelogo
	{

		margin-left: 30px;
  		 margin: 5px 0px;
   
	}

	/**************************Services***************************************/

.rightsideimage
{

	    width: 25vw;
}

.leftsideimage
{
	width: 13vw;
}
.services {
  
    margin:0;
    margin-left: 16%;
}
.servicestext .text {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: normal;
}
.logoimage {
    width: 12vw;
}

.servicelogo {
    margin-left: 2px;
       margin-bottom: 10%;
}

.leftimage {
    position: absolute;
    left: 95%;
    top: 5%;
}

/*******************Servicetext*****************************/
.benefitscard {
    padding-top: 210px;
    padding-left: 25%;
    padding-right: 10%;
}


.benefitimage {
    position: absolute;
    left: 72%;
    top: 85px;
}

 .benefitimage .bimag
{

	width: 35vw;
}

.indepaytext h3 {
    padding-top: 15px;
    font-size: 17px;
  	margin-top: 140px;
}

.indepaytext {
    position: absolute;
    margin-left: 32%;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}

#benefitsparent {
    position: relative;
    bottom: 15%;
}

.Benefits {
    margin: 1% 45%;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 130px;
}

.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}


	/*----------------------Last card-------------------------------------*/
.lastcard{
 background-size:  40px 180px ,70px,40px;
margin-left: 15px;
    padding-left: 5px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 25px;
    margin-bottom: 5px;
    font-size: 25px;
	}
	.started h4 {
   
    margin-right: 50px;
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 10px;
	}
	
	.started .GetAPI {
     margin-bottom: 0; 
    
    border-radius: 6px;
    background-color: #123456;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #123456;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: 15px;
}


}
/*--------------------------------370 px--------------------------------------------------------*/
 @media (max-width :370px)
 {
 

	.servicelogo
	{

		margin-left: 2px;
  
    margin: 7px 0px;
	}


 .padding .heading .h2 {
    font-size: 25px;
    line-height: 1.00;
    letter-spacing: -0.5px;
    margin-right: 80px;
}
.started h1 {
    margin: 5% 15%;
    font-size: 32px;
}

.apikey
{
	padding: 13px 36px 14px 38px;
}

.padding .heading .btn {

	padding: 10px 12px 10px 12px;
}
/**************************Services***************************************/

.rightsideimage
{

	    width: 30vw;
}

.leftsideimage
{
	width: 15vw;
}
.services {
  
    margin:0;
    margin-left: 20%;
}

.servicestext .text {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: normal;
}
.logoimage {
    width: 12vw;
}

.servicelogo {
    margin-left: 2px;
       margin-bottom: 10%;
}

.leftimage {
    position: absolute;
    left: 95%;
    top: 5%;
}

/************************Benefits card*****************************************************/

.benefitscard {
    padding-top: 210px;
    padding-left: 25%;
    padding-right: 8%;
}


.benefitimage {
    position: absolute;
    left: 75%;
    top: 99px;
}

 .benefitimage .bimag
{

	width: 35vw;
}

.indepaytext h3 {
    padding-top: 15px;
    font-size: 16px;
  	margin-top: 140px;
}

.indepaytext {
    position: absolute;
    margin-left: 25%;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #123456;
}

#benefitsparent {
    position: relative;
    bottom: 15%;
}

.Benefits {
    margin: 1% 45%;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 130px;
}

.card .card-title {
 
    font-size: 20px;
}

.card .card-text {
    font-size: 16px;
    
}
/**************************Last card********************************************/
.lastcard{
 background-size: 40px 180px,70px,40px;
margin-left: 15px;
    padding-left: 5px;
}
.started
{
	   
	    font-size:0px;
}
.started h1 {
       margin-top: 25px;
    margin-bottom: 5px;
    font-size: 25px;
	}
	.started h4 {
   
    margin-right: 50px;
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 10px;
	}
	
	.started .GetAPI {
     margin-bottom: 0; 
    
    border-radius: 6px;
    background-color: #123456;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
	}
	
	.started .ContactSales {
   
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 8px 8px 7px 8px;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #123456;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
     
    margin-right: auto;
    margin-left: 16px;
}

}