html ,body
{
  height :100%;
  width:  :100%;
  font-family: TaraSans-BETA;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #123456;
}
.image
{
  position:absolute;
  margin-left: 83%;
}
.header
{
  width:100%;
}
.startuptext
{
  padding-top: 6%;
}
/*---------------------DropDown-------------------------*/
.padding
{
   margin-top: 3%;     
}
.padding .heading
{ 
  margin-top: 6%;
  
}
.padding .heading .headingtext
{
  font-size: 48px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: -0.5px;
}
.padding .heading .api
{
   font-size: 18px;
  line-height: 1.33;
}
.padding .heading .btn
{
    font-size: 16px;
  font-weight: 500;
  text-align: center;
   border-radius: 6px;
  background-color: #b2f7e2;
  border:none;
  padding: 13px 36px 14px 38px;
}
.apikey
{
  border-radius: 6px;
  border: solid 1px #b8bfdc;
  margin-right: 20px;
  background-color: #b2f7e2;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 13px 36px 14px 38px;
}
.signup
{
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.57;
  text-align: center;
  color: #123456;
}
.box
{
  width:600px;
  height:400px;
}
.padding
{
   margin:3% 15% 0% 4%;
}
/*------------------Twocolumn section-----------------------*/
.two-column
{
  margin-left: 4%;
}
.two-column .heading
{ 
  margin-top: 7%;
}
.two-column .heading .h2
{
  font-size: 48px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: -0.5px;
  margin-right: 250px;
}
.two-column .heading .api
{
   font-size: 18px;
  line-height: 1.33;
}
.two-column .heading .btn
{
    font-size: 16px;
  font-weight: 500;
  text-align: center;
   border-radius: 6px;
  background-color: #b2f7e2;
  border:none;
  padding: 13px 36px 14px 38px;
}
/*---------------------AddBackgroundImage-------------------------*/
.menubaritem
{
  position:absolute;
  margin-left:70%;
}
#parent
{
  position: relative;
      margin-top: 100px;
}
.leftimage
{
  position:absolute;
  left: 89%;
  top: 3%;
}
.cardtext
{
  position:absolute;
        top: 40px;
}
#benefitsparent
{
  position: relative;
}
.indepaytext
{
  position:absolute;
  margin-left: 41%;
    padding-top: 15px;
    font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}
.childusing
{
  position:absolute;
}
.benefitscard
{
padding:210px 11% 0% 10%;
}
.benefitimage {
    position: absolute;
    left: 84%;
    top: 93px;
}
.benefitstext
{
  position:absolute;
  margin-left: 45%;
    top: 20%;
}
#usingparent
{
  position: relative;
        bottom: 13%;
}
.mainimage
{
  position: relative;
  left: 84%;
}
.usingchild
{
  position:absolute;
  top: 33%;
}
.usingindepay
{
    margin:3% 12% 0 4%;
}
#parentindepay
{
  position: relative;
}
.parentimage
{
  position:absolute;
}
.secondimage
{
  position: absolute;
}
/*-------------------ClientServiceLOGO----------------------------*/
.services
{
  border-radius: 16px;
  background-color: #123456;
  margin-left: 140px;
}
.servicelogo
{
  margin-top: 52px;
      margin-left: 150px;
      margin-bottom: 50px;
}
.imglogo
{
  padding: 0 30px;
}
.servicestext .text
{
  font-size: 26px;
  font-weight: bold;
  line-height: 1.85;
  text-align: center;
  color: #ffffff;
  margin-top: 48px; 
}
/*-------------------------Benefits card---------------------------------------------------*/
 .usingindpay
 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
 }
 .Rectangle {
 padding: 40%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  background-color:#f7f7fa;
}
/*-------------------------BenefitButton-------------------------------*/
 .Benefits
 {
  margin-top: 4%;
  margin-left: 48%;
  border: none;
  background-color: #b2f7e2;
  opacity: 0.8;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1.71px;
  position:absolute;
 }
.indepaytext h3
{
  padding-top: 25px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 70px;
}
/*---------------Using indepay card-----------------------------------*/
 .card
 {
  border-radius: 25px;
 }
 .card .card-title
 {
  text-align:center;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.71;
  text-align: center;
 }
 .card .card-text
 {
   font-size: 18px;
  line-height: 1.56;
  text-align: center;
 }/*
-------------------------lastcard--------------------------------*/
  .lastcard
{
  border-radius: 24px;
  background-image: url("E:/indepay/MobileResponsive/image/element.png") ,
  url("E:/indepay/MobileResponsive/image/element-4.png"),url("E:/indepay/MobileResponsive/image/leftelement.png");
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-position: right ,left top,left bottom;
    background-color: #b2f7e2;
        margin-top: 50px;
            margin: 0% 8%;
    }
.started
{
   font-size: 48px;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 94px;
}
.started h1 {
       margin-top: 65px;
        margin-bottom: 15px;
    font-size: 48px;
    font-weight: bold;
  }
  .started h4 {
    font-size: 18px;
    margin-bottom: 18px;
  line-height: 1.56;
  text-align: center;
  color: rgba(18, 52, 86, 0.7);
  }
  .started .GetAPI {
    margin-bottom: 6%;
    margin-right: 2%;
    margin-top: 20px;
    border-radius: 6px;
    background-color: #123456;
    padding: 13px 20px 14px 19px;
    font-size: 18px;
    background-color: #123456;
    color: #ffffff;
  }
  .started .ContactSales {
    margin-right: 25px;
    border-radius: 6px;
    background-color: #b2f7e2;
    padding: 13px 20px 14px 19px;
    font-size: 18px;
}
}
/*--------------------------1650px-----------------------------------------------------*/
/*Media Queries*/
@media (max-width : 1650px)
{
.padding .heading .h2
{
      font-size: 42px;
      margin-right:60px;
}
/*
***************************Services******************************/
.services
{
 margin-right:8%;
margin-left: 140px;
}
.services{
    margin-left: 10%;
}
.rightsideimage {
    width: 18vw;
}
.leftsideimage
{
    left: 88%;
    top: 3%;
}
.services {
    margin-left: 14%;
     margin-right: 8%;
}
.servicestext .text {
  font-size: 28px;
    margin-top: 45px;
}
.logoimage {
       width: 16vw;
}
.servicelogo {
       margin-left: 2%;
       margin-bottom: 10%;
}
.leftimage {
    position: absolute;
    left: 89%;
    top: 2%;
}
/***********************Last Card****************************************/
.lastcard{
 background-size: 140px,180px,90px;
    margin-left: 65px;
    padding-left: 0px;
}
.started h1 {
     margin-top: 65px;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: bold;
  }
  .started h4 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .started .GetAPI,.started .ContactSales {
     margin-top: 20px;
     margin-bottom: 0;
     margin-right: 25px;
     border-radius: 6px;
    padding: 13px 20px 14px 19px;
    font-size: 16px;
  }
  .started .ContactSales {
    margin-right: 25px;
    background-color: #b2f7e2;
}
}
/*---------------------1400px-----------------------------------*/
@media (max-width : 1400px)
{
.padding .heading {
    margin-top: 4%;
   }
.servicelogo {
    margin-left: 50px;
    padding-bottom: 20px;
}
   .imglogo {
    padding: 0 30px;
    }
/*
***************************Services******************************/
}
.leftsideimage
{
      left: 88%;
    top: 3%;
}
.services {
    margin-left: 10%;
    margin-right: 8%; 
}
.servicestext .text {
  font-size: 28px;
    text-align: center;
    margin-top: 45px;
}
.leftimage {
    position: absolute;
    left: 89%;
    top: 2%;
}
/********************Benefitscard************************************************/
#benefitsparent {
    position: relative;
    bottom: 20%;
}
.benefitscard {
      padding-top: 300px;
    padding-right: 10.5%;
}
.benefitimage {
    position: absolute;
     left: 81%;
    top: 93px;
}
.indepaytext h3 {
    padding-top: 0px;
    margin-top: 100px;
    margin-left: 30px;
}
.indepaytext {
    position: absolute;
    margin-left: 35%;
    padding-top: 105px;
    font-size: 37px;
}
.Benefits {
    font-size: 10px;
    margin-top: 175px;
}
.card .card-title {
    font-size: 20px;
}
.card .card-text {
    font-size: 16px;
}
/**********************Last Card************************************/
.lastcard{
 background-size: 140px,180px,90px;
    padding-left: 0px;
}
.started
{
  font-size:0px;
}
.started h1 {
       margin-top: 65px;
    margin-bottom: 8px;
  }
  .started h4 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .started .GetAPI {
   margin:20px 25px 0px 0px;
    padding: 13px 20px 14px 19px;
    font-size: 16px;
  }
  .started .ContactSales {
    margin-right: 25px;
    padding: 13px 20px 14px 19px;
    font-size: 16px;
}
}
/*------------------1200px-------------------------------------*/
@media (max-width : 1200px)
{
.apikey {
    font-size: 14px;
    }
.servicelogo {
    margin-left: 50px;
    padding-bottom: 20px;
}
.logoimage {
    width: 18vw;
}
.padding .heading {
    margin-top: 4%;
    padding-right: 0px;
}
.padding .heading .h2
{
    font-size: 40px; 
}
.padding .heading .btn {
  padding:0;
}
.padding .logo {
    margin: 4% 8%;
}
.padding .heading .api {
    font-size: 16px;
}
.singup{
    margin-left: 20px;
    margin-bottom: 1px;
}
/*
***************************Services******************************/
.rightsideimage {
    width: 18vw;
}
.leftsideimage
{
      left: 88%;
    top: 3%;
}
.services {
    margin-left: 16%;
     margin-right: 8%;
}
.servicestext .text {
  font-size: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 45px;
    font-weight: bold;
}
.leftimage {
    position: absolute;
    left: 89%;
    top: 2%;
}
/********************Benefitscard************************************************/
#benefitsparent {
    position: relative;
    bottom: 20%;
}
.benefitscard {
    padding:320px 11% 0px 16%;
}
.benefitimage {
    position: absolute;
    left: 78%;
    top: 93px;
}
 .benefitimage .bimag
{
      width: 23vw;
}
.indepaytext h3 {
    padding-top: 0px;
    margin-top: 140px;
}
.indepaytext {
    position: absolute;
    margin-left: 35%;
    padding-top: 105px;
    font-size: 37px;
}
.Benefits {
    font-size: 10px;
    font-weight: 500;
    margin-top: 200px;
}
.card {
    border-radius: 25px;
    margin-bottom: 20px;
}
.card .card-title {
    font-size: 20px;
}
.card .card-text {
    font-size: 16px;
}
/*************************Last card*****************************/
.lastcard{
 background-size: 70px,130px,70px;
    margin-left: 65px;
    padding-left: 0px;
}
.started
{
      font-size:0px;
}
.started h1 {
       margin-top: 30px;
    margin-bottom: 8px;
    font-size: 45px;
  }
  .started h4 {
    font-size: 16px;
    margin:0px 45px 18px 32px;
  }
  .started .GetAPI {
    padding: 10px;
    font-size: 13px
  }
  .started .ContactSales {
    padding: 10px;
    font-size: 13px;
}
}
/* -----------------992px------------------------------*/
 @media (max-width : 992px)
{
  .servicelogo {
    margin-left: 50px;
    padding-bottom: 20px;
}
.apikey
{
      font-size: 12px;
    margin-bottom: 25px;
}
  .signup
  {
    margin:0px 0px 22px 8px;
    font-size: 14px;
  }
.padding .heading
{
      margin-top: 4%;
}
.padding .heading .h2
{
  font-size:46px;
}
.padding .heading .api
{
   font-size: 20px;
}
.logoimage {
    width: 14vw;
}
.indepaytext h3 {
     padding-top: 30px; 
}
/*
***************************Services******************************/
.rightsideimage {
    width: 18vw;
}
.services {
        margin:0px 8% 0px 16%;
}
.servicestext .text {
    font-size: 30px;
    margin-top: 45px;
}

.leftimage {
    position: absolute;
    left: 87%;
    top: 5%;
}
/********************Benefitscard************************************************/
.benefitscard {
    padding:290px 10% 0% 16%;
}
.benefitimage {
    position: absolute;
    left: 78%;
    top: 93px;
}
 .benefitimage .bimag
  {
  width: 23vw;
  }

.indepaytext {
    position: absolute;
    margin-left: 32%;
    padding-top: 80px;
    font-size: 35px;
}
.Benefits {
    font-size: 10px;
    margin-top: 180px;
}
.card .card-title {
    font-size: 20px;
}
.card .card-text {
    font-size: 16px;
}
/*********************Last card*********************************/
.lastcard{
 background-size: 60px 180px ,140px,80px;
    padding-left: 5px;
        margin: 0% 5% 0% 12%;
}
.started {
    padding-bottom: 50px;
}
.started h1 {
       margin:25px 0px 0px 5px;
   font-size: 38px;
   padding-bottom: 10px;
  }
  .started h4 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .started .GetAPI {
    margin-right: 20px;
    font-size: 12px;
  }
  .started .ContactSales {
    font-size: 12px;
}
}
 /*-------------------------768px---------------------------------------------------*/
 @media (max-width :768px)
 {
   .services {
margin:-5% 0% 0% 16%;
}
.servicelogo {
    padding-left: 10%;
    margin: 7px 0px;
}
  .padding .heading {
    padding-right:0px;
  }
  .padding .heading .headingtext {
    font-size:35px;
  }
  .padding .heading .api {
    font-size: 18px;
}
.servicestext .text {
    font-size: 23px;
    margin-top: 45px;
}
  .logoimage {
    width: 12vw;
}
.services {
    margin: -2% 5% 0% 13%;
}
.leftimage { 
  position: absolute;
    left: 87%;
}
#parent {
    position: relative;
    margin-top: 5%;
}
.leftsideimage {
    width: 10vw;
}
.rightsideimage {
    width: 16vw;
}
.Benefits {
    font-size: 10px;
    margin-top: 22%;
    margin-left: 43%;
}

.indepaytext h3 {
    padding-top: 8px;
    font-size: 25px;
    margin-left: -5px;
    margin-top: 45%;
}
.benefitimage .bimag {
    width: 28vw;
}
.benefitimage {
    position: absolute;
    left: 70%;
    top: 85px;
}
.benefitscard {
    padding: 39% 15% 0% 20%;
}
.card {
    margin-bottom: 10px;
  }
.card .card-title {
    font-size: 18px;
  }
.card .card-text {
    font-size: 14px; 
  }
.lastcard {
    background-size: 40px 180px ,70px,40px;
     padding-left: 5px; 
    margin: -10% 5% 0px 10%;
}
.started {
    font-size: 45px;
    padding-bottom: 30px;
}
.started h1 {
padding-bottom: 3%;
}
.started h4 {
     margin-bottom: 0%; 
    font-size: 14px;
}
.started .GetAPI, .started .ContactSales {
    padding: 8px 8px 7px 8px;
    margin-right:1px;
}
}
/*---------------------------576px-------------------------------------
*/
@media (max-width :576px)
{
  .services {
margin:-5% 0% 0% 16%;
}
.servicelogo
  {
    padding-left: 20px;
    margin: 7px 0px;
  }
  .padding .heading {
    padding-right:0px;
  }
  .padding .heading .headingtext {
    font-size:35px;
  }
  .padding .heading .api {
    font-size: 18px;
}
.servicestext .text {
    font-size: 15px;
    margin-top: 45px;
  }
  .logoimage {
    width: 12vw;
}
.services {
    margin: -2% 0% 0% 13%;
}
.leftimage { 
  position: absolute;
    left: 89%;
}
#parent {
    position: relative;
     margin-top:0px;
}
.rightsideimage {
    width: 18vw;
}
.Benefits {
    font-size: 10px;
    margin-top: 28%;
    margin-left: 43%;
}
.benefitimage {
    position: absolute;
    left: 67%;
    top: 85px;
}
.indepaytext h3 {
    padding-top: 8px;
    font-size: 20px;
    margin-left: -5px;
    margin-top: 65%;
}
.benefitscard {
    padding: 47% 15% 0% 20%;
}
.card {
    margin-bottom: 10px;
  }
.card .card-title {
    font-size: 18px;
  }
.card .card-text {
    font-size: 14px; 
  }
.lastcard {
    background-size: 40px 180px ,70px,40px;
     padding-left: 5px; 
     margin:-80px 0px 0px 25px;
}
.started {
    font-size: 45px;
    padding-bottom: 30px;
}
.started h1 {
padding-bottom: 3%;
}
.started h4 {
     margin-bottom: 0%; 
    font-size: 14px;
}
.started .GetAPI, .started .ContactSales {
    padding: 8px 8px 7px 8px;
    margin-right:1px;
}
}

/*-----------------420px-------------------------*/
 @media (max-width :420px)
 {
  .services {
    margin: -5% 5% 0% 16%;
}
 .padding .heading .headingtext {
    font-size: 30px;
}
.padding .heading .api {
    font-size: 16px;
}
.rightsideimage {
    width: 22vw;
}
.leftimage {
    position: absolute;
    left: 85%;
}
.servicelogo
  {
    padding-left: 20px;
    margin: 7px 0px;
  }
.servicestext .text {
    font-size: 15px;
    margin-top: 45px;
  }
  .logoimage {
    width: 12vw;
}
.Benefits {
    font-size: 10px;
    margin-top: 35%;
    margin-left: 40%;
}
.benefitimage {
    position: absolute;
    left: 72%;
    top: 6%;
}
.indepaytext h3 {
    font-size: 15px;
    margin-left: -15px;
    margin-top: 60%;
}
.benefitscard {
    padding: 59% 14% 0% 21%;
}

.indepaytext {
    position: absolute;
    margin-left: 35%;
    padding-top: 120px;
    font-size: 35px;
}
.card {
    margin-bottom: 10px;
  }
.card .card-title {
    font-size: 16px;
  }
.card .card-text {
    font-size: 14px; 
  }
.lastcard {
    background-size: 40px 180px ,70px,40px;
     padding-left: 5px; 
     margin:-80px 0px 0px 25px;
}
.started {
    font-size: 45px;
    padding-bottom: 30px;
}
.started h1 {
    padding-bottom: 3%;
    font-size: 25px;
}
.started h4 {
    margin-bottom: 0%;
    font-size: 14px;
    padding: 0% 15%;
}
.started .GetAPI, .started .ContactSales {
    padding: 8px 8px 7px 8px;
    margin-right:1px;
}
}
/*--------------------------------370 px--------------------------------------------------------*/
 @media (max-width :370px)
 {
  .indepaytext h3 {
    font-size: 14px;
    margin-left: -8px;
}
  .servicelogo
  {
    padding-left: 10px;
    margin: 7px 0px;
  }
.cardtext {
    position: absolute;
    top: 25px;
}
.card .card-text {
    font-size: 13px;
}
.card .card-title {
    font-size: 15px;
} 
.benefitscard {
    padding: 190px 11% 0% 17%;
}
.started h1 {
    padding-bottom: 3%;
    font-size: 20px;
}
.benefitimage {
    position: absolute;
    left: 70%;
    top: 95px;
}
.indepaytext h3 {
    font-size: 13px;
    margin-left: -8px;
    margin-top: 35%;
}
}

 @media (max-width :320px)
 {

  .indepaytext h3 {
    font-size: 15px;
    margin-left: -15px;
    margin-top: unset;
    margin-top: 30%;
}

.benefitimage {
    position: absolute;
    left: 74%;
    top: 105px;
}
  }

  /*main class for footer design*/
footer{
  bottom: 0;
}
.footer-distributed{
   background-color: #123456;
  font-family: SctoGroteskA;
  width: 100%;
  text-align: left;
  padding: 55px 0px 55px 150px;
  margin-top: 80px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.image
{
  margin-left:-2%;
}
.Products
{
  margin-left:20%;
}

.footer-distributed .Products h6,
.footer-distributed .cases h6
{
  font-size: 16px;
  font-weight: bold;
}
.Products .ul-list,
.cases .ul-list
{
  font-size: 12px;
  line-height: 1.57;
  list-style-type: none;
   padding-left: 0px;
}
.Products .ul-list li
.cases .ul-list li
{
  font-size: 14px;
  line-height: 1.57;
}
.FollowUs {
    padding-left: 10%;
}
.FollowUs h3
{
  
  font-size: 16px;
  font-weight: bold;
}
.footer-copyright
{
  text-align: center;
  
  font-size: 12px;
    padding-left: 35%;
    margin-top: 30px;
}

.wrapper
{
  display: inline-block;
  display: grid;
}
@media (max-width :1200px)
{
  .img
  {
    width:12vw;
  }
  .image
  {
    padding-bottom:20px;
    margin-left:6%;
  }
  .Products {
    margin-left:25%;
    }
  .footer-distributed
  {
    padding: 55px 0px 55px 50px;
    margin-top: 80px;
  }
  .footer-copyright 
  {
    padding-left: 35%;
  }
  .FollowUs
  {
    padding-left:0%;
  }
}

@media (max-width :992px)
{
  .img
  {
    width:12vw;
  }
  .image
  {
    padding-bottom:20px;
    margin-left:6%;
  }
  .Products {
    margin-left:25%;
    }
  .footer-distributed
  {
    padding: 55px 0px 55px 50px;
    margin-top: 80px;
  }
  .footer-copyright 
  {
    padding-left: 35%;
  }
  .FollowUs
  {
    padding-left:0%;
  }
}

@media (max-width :768px)
{
  .img
  {
    width:20vw;
  }
  .image
  {
    padding-bottom:20px;
    margin-left:-2%;
  }
   .footer-copyright,.FollowUs
      {
        padding-left: 1%;
      }

      .footer-distributed {
      width: 130%;
    }
    .Products {
    margin-top: 7%;
    margin-left:0%;
    }
}
  @media (max-width :576px)
  {
    .img
  {
    width:30vw;
  }
    .image
  {
    padding-bottom:20px;
    margin-left:-2%;
  }
    .footer-copyright,.FollowUs
      {
        padding-left: 2%;
      }

      .footer-distributed {
      width: 130%;
    }
    .Products {
    margin-top: 10%;
    margin-left:0%;
    }
  }

    @media (max-width :370px),(max-width :420px)
    {
      .img
  {
    width:30vw;
  }
    .image
  {
    padding-bottom:20px;
    margin-left:-2%;
  }
      .footer-copyright,.FollowUs
      {
        padding-left: 4%;
      }

    .footer-distributed {
      width: 100%;
    }
    .Products {
    margin-top: 15%;
    margin-left:0%;
    }
  }


}