
html ,body
{
	height :100%;
	width: 100%;
	font-family: TaraSans-BETA;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

/*----------------------Commonfor all cards margin dor left abd right-----------------------------------*/
.padding
{
 margin-top: 30px;
 margin-left: 140px;
 margin-right: 150px;
}
.cardpadding
{
   margin-top: 30px;
 margin-left: 140px;
 margin-right: 150px;
}
/*-----------Two column section-----------------------*/
.sectionpadding
{
 margin-top: 30px;
 margin-left: 110px;
 margin-right: 10px;
 margin-bottom:150px;
}
.sectionheading
{
	padding-top: 5%;
}
.sectionheading  .apitransfer
{
 margin: 8px 0 16px;
 font-size: 48px;
 font-weight: bold;
 line-height: 1.17;
 letter-spacing: -0.5px;
 color: #123456;
}
.sectionheading .api
{
  opacity: 0.8;
  font-size: 18px;
  line-height: 1.33;
  color: #123456;
}

.sectionheading .transfer
{
	font-size: 12px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1.71px;
  color: #123456;
  margin: 0 99px 8px 0;
  padding: 0 6px;
  background-color: #b2f7e2;
  border:none;
}
.sectionheading .apikey,.sectionheading .developer
{
  margin: 24px 16px 0 0;
  padding: 13px 36px 14px 38px;
  border-radius: 6px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500; 
  text-align: center;
  color: #123456;
}

.sectionheading .apikey
{
  background-color: #b2f7e2;
  border:none;
}

.sectionheading .developer
{
  background-color: #fff;
  border: solid 1px #b8bfdc;
}
/*-------------------------------Heading-------------------------------*/

.bgcolor
{
  background-color: #f7f7fa;
}
.Rectangle {
  width: 554px;
  height: 300px;
  margin: 42px 0 43px;
  border-radius: 20px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.tranfermain
{
	padding:120px 0px;
}
.overview
{
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1.71px;
  color: #123456;
  margin: 0 468px 8px 0;
  padding: 0 6px;
  background-color: #b2f7e2;
  border:none;
}
.transfer
{
  margin:30px 80px 0px 140px;
  background-color: #f7f7fa
}
.heading{
  padding-top: 15%;
  padding-left: 15%;
}
.heading .headingtext
{
  width: 555px;
  height: 48px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  color: #123456;
}
.heading .text
{
	font-size: 16px;
  line-height: 1.56;
  color: #123456;
}

/*````````````````````````Checkbox````````````````````````````````````````*/

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: #123456;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 10px;
  margin-right: .5em;
  border: .05em solid #b2f7e2;
  margin-top: 8px;
  background-color: #b2f7e2;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
  background-color: #b2f7e2;
}


.checkbox-container input[type='checkbox']:disabled + label,
.checkbox-container input[type='checkbox']:disabled {
  color: #aaa;
  cursor: default;
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: #b2f7e2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #123456;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
  background-color: #ccc;
  border-color: #999;
}

/*-------------------------Use case------------------------------------*/
.usecasemain
{   padding-top: 7%;
 padding-right: 10%;
}
.usecase
{
	font-size: 12px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1.71px;
  color: #123456;
  border:none;
  padding: 0 6px;
  background-color: #b2f7e2;
}
.card .usecasecard
{
 padding: 5px 0 12px 25px;
}
.padding h4
{
	margin: 8px 1px 8px 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  color: #123456;
}
.padding p
{
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #123456;
}
.card
{
  margin: 0 0 12px 60px;
  border-radius: 20px;
  border: solid 1px #e9ecef;
  background-color: #ffffff;
}
.card-title
{
	font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #123456;
}

.card-description{
	width: 410px;
  height: 48px;
  margin: 4px 0 0;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.5;
  color: #123456;
}
#parentusecase
{ 
  position: relative;
}
.parentimage
{
	position: absolute;
 left: 88%;
}
.usecasechild
{
	position: absolute;
}
.use2
{
	position: absolute;
	margin-left: 40%;
  margin-top: 5%;
}
.secondimage
{
	position: absolute;
	margin-top: 28%;
}

/*-------------------------Started cards----------------------------*/
.lastcard
{
 margin-top: 40%;
 position: relative;
 width:100%;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}
.lastcard::before
{
  content: '';
  position: absolute;
  left:50%;
  width:100vh;
  height:30vh;
  background:#f7f7fa;
  border-radius: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) scale(5);
}

.startedmain p
{
  height: 48px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #123456;
  padding-top: 30px;
}
.card-profile {
  margin-top: 30px;
  text-align: center;
}
.card-profile .card-avatar {
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  width: 50%; 
}
.card-category
{
  height: 30px;
  opacity: 0.9;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #123456;
}
.card
{
	padding:0;
}
.card-text
{
  margin: 8px 0 27px;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #123456;
}
.cardbtn
{
  opacity: 0.9;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  text-align: center;
  color: #123456;
  width: 220px;
  height: 48px;
  border:none;
  border-radius: 6px;
  background-color: #b2f7e2;
}
.card-body
{
  padding: 0px;
  padding-bottom: 12px;
  padding-top: 5px;
}
/*---------------------Background image-----------------------------------*/
#parent
{
	position: relative;
}
.leftimage
{
	position: absolute;
 left: 90%;
 bottom: 3%;
}
/*------------------------------------------------------------------------------*/

@media (max-width :768px)
{
  #parent
  {
    width:200%;
    margin-left: 15%;
  }
  .bgcolor
  {
   width:260%;
 }
 .Rectangle {
  width: 600px;
  height: 450px;
  margin: 42px 0 43px;
}
.heading {
  padding: 10% 0px 0px 10%;
}
.parentimage {
  position: absolute;
  left: 235%;
}
.padding {
    margin: 30px 0px 0px 35%;
}
.padding h4 {
  font-size: 43px;
}
.usecase {
  font-size: 14px;
}
.transfer {
      margin: 30px 80px 0px 12%;
  background-color: #f7f7fa;
}
.overview {
  font-size: 16px;
}
.heading {
  padding: 10% 0px 0px 5%;
}
.heading .text {
  font-size: 21px;
}
.heading .headingtext {
  font-size: 50px;
}
.usecasemain {
  padding-right: 0%; 
}
.lastcard {
  position: relative;
  margin-top: 75%;
  width: 260%;
}
.card {
  margin:0px 10% 3% 0px;
}
.secondimage {
  margin-top: 50%;
}
.sectionheading {
  padding-left: 5%;
}
.sectionheading .transfer {
  font-size: 14px;
}
.sectionheading .api {
  font-size: 20px;
}
.sectionheading .apikey, .sectionheading .developer {
  font-size: 18px;
}
.startedmain p {
  padding-left: 5%;
  font-size: 50px;
}
.cardpadding {
  margin:5% 10% 0% 15%;
}
.card-profile
{
  margin-bottom: 70px;
}
.card-profile .card-avatar {
  width: 30%;
}
.card-text {
  padding: 0px 60px;
  font-size: 20px;
}
.cardbtn {
  font-size: 20px;
}
.padding p {
  font-size: 20px;
  padding: 0px;
}
.use2 {
    position: absolute;
    margin-left: 118%;
}
}
@media (max-width :576px)
{
  #parent
  {
    width:200%;
  }
  .bgcolor
  {
   width:250%;
 }
 .Rectangle {
  margin:0px;
}
.heading {
  padding:0px 40% 0px 0px;
}
.parentimage {
  position: absolute;
  left: 219%;
}
.tranfermain {
  padding: 10% 0;
}
.padding {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 0px;
}
.heading .text {
  font-size: 20px;
}
.card
{
  margin:0px;
}
.lastcard {
  margin-top: 140%;
}
.usecasemain {
    padding-right: 0%;
    padding-top: 18%;
}
.use2 {
  position: absolute;
    margin-left: 99%;
    margin-top: 10%;
}
.card {
  margin: 0px;
  margin-bottom: 20px;
}

.lastcard {
     margin-top: 123%;
  position: relative;
  width: 250%;
}
.secondimage {
  position: absolute;
  margin-top: 90%;
}
.startedmain p {
  padding-left: 10%;
}
.cardpadding {
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
.card-profile
{
  margin-bottom: 70px;
}
.card-profile .card-avatar {
  width: 30%;
}
.card-text {
  padding: 0px 60px;
  font-size: 20px;
}
.cardbtn {
  font-size: 20px;
}
.padding p {
  font-size: 20px;
  padding: 0px;
}
.tranfermain {
  padding: 10% 15%;
}
.heading {
  padding: 0px 30% 0px 15%;
}
@media (max-width :450px)
{
  #parent
  {
    width:200%;
  }
  .bgcolor {
    width: 278%;
}
 .Rectangle {
  margin:0px;
}
.heading {
  padding:0 0 5% 2%;
}
.parentimage {
  position: absolute;
  left: 230%;
}
.tranfermain {
  padding: 0;
}
.padding
{
  margin-top: 30px;
  margin-left: 140px;
  margin-right:0px;
}
.heading .text {
  font-size: 20px;
}
.card
{
  margin:0px;
}
.use2 {
  position: absolute;
  margin-left: 105%;
  margin-top: 15%;
}
.card {
  margin: 0px;
  margin-bottom: 20px;
}
.card-description {
 width: 360px;
}
.lastcard {
  margin-top: 190%;
  position: relative;
  width: 278%;
}
.secondimage {
  position: absolute;
  margin-top: 145%;
}
.startedmain p {
  padding-left: 10%;
}
.cardpadding {
  margin:60px 200px 0px 200px;
}
.card-profile
{
  margin-bottom: 70px;
}
.card-profile .card-avatar {
  width: 30%;
}
.card-text {
  padding: 0px 60px;
  font-size: 20px;
}
.card-description {
    width: 325px;
}
.cardbtn {
  font-size: 20px;
}
.padding p {
  font-size: 20px;
  padding: 0px;
}
.tranfermain {
  padding: 10% 2%;
}
}

@media (max-width :370px)
{
  #parent
  {
    width:200%;
  }
.bgcolor {
    width: 290%;
}
 .Rectangle {
  margin:0px;
}

.tranfermain {
  padding: 10% 0;
}
.padding
{
  margin-top: 30px;
  margin-left: 140px;
  margin-right:0px;
}
.card
{
  margin:0px;
}
.card {
  margin: 0px;
  margin-bottom: 20px;
}
.card-description {
  width: 300px;
}
.lastcard {
  margin-top: 190%;
  position: relative;
  width: 290%;
}
.secondimage {
  position: absolute;
  margin-top: 140%;
}
.startedmain p {
  padding-left: 10%;
}
.card-profile
{
  margin-bottom: 70px;
}
.card-profile .card-avatar {
  width: 30%;
}
.card-text {
  padding: 0px 60px;
  font-size: 20px;
}
.cardbtn {
  font-size: 20px;
}
.padding p {
  font-size: 16px;
  padding: 0px;
}
.parentimage {
    position: absolute;
    left: 240%;
}
.use2 {
    position: absolute;
    margin-left: 115%;
    margin-top: 15%;
}
}
